@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Fjalla One";
  src: url("../../public/assets/fonts/Fjalla_One/FjallaOne-Regular.ttf");
}

@font-face {
  font-family: "Cantarell";
  src: url("../../public/assets/fonts/Cantarell/Cantarell-Regular.ttf");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fjalla One";
}

body {
  font-family: "Cantarell";
}

:root {
  --background: #fafafa;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer base {
  @import "../css/auth/login.css";
  @import "../css/auth/register.css";

  @import "../css/navbar.css";

  @import "../css/homepage/jumbotron.css";
  @import "../css/homepage/benefit.css";
  @import "../css/homepage/offer-product.css";

  @import "../css/cartpage/cart.css";

  @import "../css/product/product-det.css";

  @import "../css/session-active.css";
}
